[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapitableau = {editable = true, path = "."}

[dev-packages]
uvicorn = {extras = ["standard"], version = "*"}
black = "*"
pytest = "*"
flake8 = "*"
mkdocs = "*"
mypy = "*"
pytest-cov = "*"
isort = "*"
pre-commit = "*"
ipython = "*"
typed-ast = "*"
types-requests = "*"
types-setuptools = "*"
twine = "*"
build = "*"
mkdocs-material = "*"
pytest-asyncio = "*"
httpx = "*"

[pipenv]
allow_prereleases = true
