
.padded-flat-top {
  padding: 0 1rem;
}

.api-desc {
  margin-top: 0;
}
.route {
  margin-bottom: 3rem;
  max-width: 1000px;
}

.route h3 {
  margin-left: -2rem;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  padding: .2em .4em;
  font-size: 85%;
  word-break: break-word;
  background-color: var(--md-code-bg-color);
  border-radius: 6px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
} 

.route-path {
  margin-left: 0;
}

.route-summary {
  margin-left: 2rem;
}

.route-description {
  margin-left: 2rem;
}

.route-usage {
  margin-left: 2rem;
}

.route-args {
  margin-left: 2rem;
}



table.items {
  border-spacing: 1px;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em;
}

table.items th {
  text-align: left;
}

table.items th, table.items td {
  padding: 3px;
  border: 1px solid #EEE;
}

td.item-name {
  width: 25%;
}

td.item-type {
  width: 25%;
}

td.item-desc {
  width: 50%;
}

.small-button {
  background: #7d8492;
  border-radius: 57px;
  display: inline-block;
  font-size: 10px;
  margin: 0 0 0 5px;
  padding: 2px 4px;
  position: relative;
  top: -5px;
  vertical-align: super;
  opacity: .75;
}

.version {
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
}

.reverse-margin-2 {
  margin-top: -2rem !important;
}

.bold-text {
  font-weight: bold;
}
.italic-text {
  font-style: italic;
}
.indented-detail {
  margin: 0 0 0.5rem 2rem;
}
