<!DOCTYPE html><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Tableau Extension Endpoint</title>
  <link rel="stylesheet" href="../statics/css/home.min.css">
  
</head>
<body>
  <div class="md-container">
    <main class="md-main">
      <div class="md-main__inner md-grid">
        <div class="md-content">
          <article class="md-content__inner md-typeset">   
            {% if connect_active %}
              <h1>Tableau Extension Endpoint hosted by RStudio Connect</h1>
            {% else %}
              <h1>Tableau Extension Endpoint</h1>
            {% endif %}
            {% if warning_message %}
              <div class="md-header">
                Stuff is wrong!
                {{ warning_message|markdown|safe }}
              </div>
            {% endif %}
            <h2 class="divider">Accessing {{ app.name }}</h2>  
            <h4 class="divider" style="color:var(--md-default-fg-color--light)">
              Need to understand how to use the functionality provided by this endpoint from within Tableau? Or perhaps you want to access the APIs directly? You can do that with the following resources. 
            </h4>           
            <ul class="feature-list">
              <li class="item" style="margin-bottom:30px;width:200px;height:250px;">
                <a href="/tableau_usage" class="feature-btn aligner">
                  <div class="aligner-item aligner-item--fixed">
                    <div class="front">
                      <img src="../statics/images/tableau.png" alt="Tableau icon" style="width: 3.4rem; height: 3.4rem">
                      <h3>How to Use from within Tableau</h3>
                      <h4>View detailed instructions on how to use the functionality.</h4>
                    </div>
                    <div class="back">
                      <h4>Click to view usage instructions including</h4>
                      <ul>
                        <li>Summary</li>
                        <li>Parameters</li>
                        <li>Syntax for Tableau</li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              <li class="item" style="margin-bottom: 30px;">
                <a href="/docs_tableau" class="feature-btn aligner">
                  <div class="aligner-item aligner-item--fixed">
                    <div class="front">
                      <img src="../statics/images/connection-hosting.svg" alt="Tableau API icon" style="width: 3.4rem; height: 3.4rem">
                      <h3>Tableau Style API Requests</h3>
                      <h4>View the OpenAPI Docs for the API that Tableau will use.</h4>
                    </div>
                    <div class="back">
                      <h4>Click to view API Documentation including</h4>
                      <ul>
                        <li>Endpoints</li>
                        <li>Usage</li>
                        <li>Parameters</li>
                        <li>Test Execution</li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              <li class="item" style="margin-bottom: 30px;">
                <a href="/docs" class="feature-btn aligner">
                  <div class="aligner-item aligner-item--fixed">
                    <div class="front">
                      <img src="../statics/images/api.svg" alt="API icon" style="width: 3.4rem; height: 3.4rem">
                      <h3>Standard Style Web Requests</h3>
                      <h4>View the OpenAPI Docs for the API made available by this app.</h4>
                    </div>
                    <div class="back">
                      <h4>Click to view API Documentation including</h4>
                      <ul>
                        <li>Endpoints</li>
                        <li>Usage</li>
                        <li>Parameters</li>
                        <li>Test Execution</li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>

            </ul>  
            <h2 class="divider">Additional Resources</h2>  
            <h4 class="divider" style="color:var(--md-default-fg-color--light)">
              If you need to setup Tableau to access this server, understand how RStudio Connect's Tableau Integration works or further explore the FastAPI Tableau library, the following resources will help. 
            </h4>      
            <ul class="feature-list">
              <li class="item" style="margin-bottom: 30px;">
                <a href="/setup_tableau" class="feature-btn aligner">
                  <div class="aligner-item aligner-item--fixed">
                    <div class="front">
                      <img src="../statics/images/tableau.png" alt="Tableau icon" style="width: 3.4rem; height: 3.4rem">
                      <h3>Setting up Tableau Online / Desktop</h3>
                      <h4>View the custom generated instructions for configuring Tableau</h4>
                    </div>
                    <div class="back">
                      <h4>Click to view instructions including</h4>
                      <ul>
                        <li>Connect Server Path</li>
                        <li>Authorization</li>
                        <li>Other info</li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              <li class="item" style="margin-bottom: 30px;">
                <a href="https://docs.rstudio.com/user/integration" class="feature-btn aligner">
                  <div class="aligner-item aligner-item--fixed">
                    <div class="front">
                      <img src="../statics/images/connect-icon.png" alt="RStudio Connect icon" style="width: 3.4rem; height: 3.4rem">
                      <h3>Hosting in RStudio Connect</h3>
                      <h4>View further details regarding the Tableau Integration feature</h4>
                    </div>
                    <div class="back">
                      <h4>Click to view details including</h4>
                      <ul>
                        <li>Integration Requirements</li>
                        <li>Authorization</li>
                        <li>Debug Options</li>
                        <li>More...</li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              <li class="item" style="margin-bottom: 30px;">
                <a href="https://github.com/rstudio/fastapitableau" class="feature-btn aligner">
                  <div class="aligner-item aligner-item--fixed">
                    <div class="front">
                      <img src="../statics/images/github.svg" alt="GitHub icon" style="width: 3.4rem; height: 3.4rem">
                      <h3>FastAPI Tableau Library</h3>
                      <h4>Dive in deep into the library making this all possible</h4>
                    </div>
                    <div class="back">
                      <h4>Click to view details including</h4>
                      <ul>
                        <li>Programming Guide</li>
                        <li>Source Code</li>
                        <li>Examples</li>
                        <li>More...</li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
            </ul>               
          </article>
        </div>
      </div>      
    </main> 
  </div>
</body>
</html>
