<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; child-src 'none';">
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
  <div class="container">
    <header>
      <div class="title_desc_container">
        <div class="padded-fully title">
          <h1>
            {{ request.app.title }}
            {% if request.app.version %}v{{ request.app.version }}{% endif %}
          </h1>
        </div>
        <div class="api-desc padded-flat-top">
            {{ request.app.description|markdown|safe }}
        </div>
      </div>
    </header> 
    <main>
      <div class="padded-flat-top">
        {% if warning_message %}
          {{ warning_message|markdown|safe }}
        {% else %}
          {% with routes = routes_info %}
            {% include "user_guide.html" %}
          {% endwith %}
        {% endif %}
      </div>
    </main>
  </div>
</body>
</html>
