<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>FastAPI Tableau</title>
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">

</head>
<body>
  <header class="md-header" data-md-component="header" data-md-state="shadow">
    <nav class="md-header__inner md-grid" aria-label="Header">
      <a href="{{ app_base_url }}" class="nav-bar">
        <label class="md-header__button md-icon">
          <!-- back icon -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 122.88"><title>back</title><path class="cls-1" d="M61.44,0A61.51,61.51,0,1,1,18,18,61.25,61.25,0,0,1,61.44,0Zm5,45.27A7.23,7.23,0,1,0,56.14,35.13L35,56.57a7.24,7.24,0,0,0,0,10.15l20.71,21A7.23,7.23,0,1,0,66.06,77.62l-8.73-8.87,24.86-.15a7.24,7.24,0,1,0-.13-14.47l-24.44.14,8.84-9Z"/></svg>
        </label>
        <div class="md-header__title" data-md-component="header-title">
          <div class="md-header__ellipsis">
            <div class="md-header__topic">
              <span class="md-ellipsis">
              FastAPI Tableau — Using "{{request.app.title}}" from Tableau
              </span>
            </div>
          </div>
        </div>
      </a>
    </nav>
  </header>
  <div class="md-container tableau-usage-container">
    <main class="md-main">
      <div class="md-main__inner md-grid">
        <div class="md-content">
          <article class="md-content__inner md-typeset">   
            <h1 style="font-size: 37px; letter-spacing: normal;">
              {{ request.app.title }}
              {% if request.app.version %}
              <div class="small-button" style="line-height: 1.4; margin-left: -5px;">
                <div class="version">
                  {{ request.app.version }}
                </div>
              </div>
              {% endif %}
            </h1>
            {% if request.app.description %}
              <div class="api-desc">
                  {{ request.app.description|markdown|safe }}
              </div>
            {% endif %}
            <div class="">
              {% if warning_message %}
              <div class="warning-container">
                {{ warning_message|markdown|safe }}
              </div>
              {% endif %}
              {% with routes = routes_info %}
                {% include "user_guide.html" %}
              {% endwith %}
            </div>
          </article>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
